.sidebar {
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    background-color: #37474f;
    font-weight: 600;
  }

  .toolbar {
    height: 64px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
  }

  .brandlogo {
    padding: 1rem 0 .5rem;
    text-align: center;
  }

  .logo, .brand {
    display: inline-block;
  }
  
  .brand {
    margin: 0 1rem;
  }

  .gene-user-thumb {
    padding: .9375rem 0;
}

.img-circle {
  border-radius: 50%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.gene-user-name {
  margin-top: 1rem;
  font-size: 1rem;
  color: #e4e7ef;
  outline: 0;
  display: block;
}

.mat-list-item-content {
  height: auto;
  display: block;
  margin-bottom: .5rem;
  padding: 0;
}

.list {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  padding-top: 8px;
}
.list-item {
  height: auto;
  cursor: pointer;
  outline: 0;
}

.list-item-content {
  margin-bottom: .5em;
  font-size: 1rem!important;
}

.list-item-content:hover {
  background-color: rgba(0,0,0,.2);
}

.list-item-content a {
  outline: 0;
    color: #e4e7ef;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    padding: 0 1.5rem;
    font-weight: 500;
    text-decoration: none;
}
  
  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }
  
  .sidebar .nav {
    margin-bottom: 20px;
  }
  
  .sidebar .nav-item {
    width: 100%;
  }
  
  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }
  
  .sidebar .nav-link {
    border-radius: 0;
  }

  .sidebar li {
    border-bottom: 1px solid #c4c4c4;
  }

  
  /*
   * Dashboard
   */
  
   /* Placeholders */
  .placeholders {
    padding-bottom: 3rem;
  }
  
  .placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  