<div *ngIf="isDataAvailable"> 
  <div class="row">
      <div class="col-xs-12">
        <img src="../../../../assets/images/avatar.png" alt="{{user.userName}}" class="img-responsive" height="300" width="300">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <h1>{{user.firstName}}</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{user.lastName}}</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-xs-12">
        {{user.email}}
      </div>
    </div>
</div>