.action {
    margin-bottom: 10px;
    width: inherit;
}

#statusFilter {
    float: right;
    margin-bottom: 10px;
}

#userFilter {
    float: right;
}

#statusFilter>label, #userFilter>label {
    margin: 0px;
}

select {
    float: right;
    
}

select.right {
    margin-right: 10px;
}