<button class="btn btn-primary" (click)="onNewTask()">Create Task</button>
<div>
<select class="form-control">
    <option></option>
</select>
<select class="form-control">
    <option></option>
</select>
</div>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task.status}}</td>
          <td><a class="btn btn-sm btn-warning" (click)="onEdit($event, task)"><i class="fa fa-edit"></i></a></td>
        </tr>
    </tbody>
</table>