<form *ngIf="!isEdit || (isEdit && isFormEditLoad)" class="mbr-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <input type="text" class="form-control" name="id" formControlName="id" type="hidden" id="id">
    <div class="row row-sm-offset">
        <div class="col-md-6 multi-horizontal" data-for="userName">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="userName">Username</label>
                <input type="text" class="form-control" name="userName" formControlName="userName" required="" id="userName">
            </div>
        </div>
        <div class="col-md-6 multi-horizontal" data-for="email">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="email">Email</label>
                <input type="email" class="form-control" name="email" formControlName="email" required="" id="email">
            </div>
        </div>
        <div class="col-md-6 multi-horizontal" data-for="firstName">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" formControlName="firstName" id="firstName">
            </div>
        </div>
        <div class="col-md-6 multi-horizontal" data-for="lastName">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" formControlName="lastName" id="lastName">
            </div>
        </div>
    </div>
    <span class="input-group-btn">
        <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary btn-form display-4">{{ !isEdit ? 'Insert' : 'Update'}}</button>
        <button class="btn btn-secondary btn-form display-4" (click)="onBack()">Back</button>
    </span>
</form>