.container {
    max-width: 1300px;
}

.navbar {
    background-color: #37474f;
}

.brandlogo {
    padding: 1rem 0 .5rem;
    text-align: center;
  }

  .logo, .brand {
    display: inline-block;
  }
  
  .brand {
    margin: 0 1rem;
  }

  .gene-user-thumb {
    padding: .9375rem 0;
}

